// Set variables
@use "modules/variables";
@use "custom/variables" as variables2;

// Mixins
@use "./mixins/icon";
@use "./mixins/font";

// Add modules
@use "modules/reset";
@use "modules/font/font" as font2;
@use "modules/base";
@use "modules/font/icon" as icon2;
@use "modules/loader";
@use "modules/leaflet";
@use "modules/table";
@use "modules/filter";
@use "modules/sidebar";
@use "modules/map";
@use "modules/forcegraph";
@use "modules/legend";
@use "modules/proportion";
@use "modules/tabs";
@use "modules/node";
@use "modules/infobox";
@use "modules/button";

// Make adjustments in custom scss
@use "custom/custom";
@use "night";
