// Overwrite normal style (colors)
@use "sass:color";
@use "sass:map";
@use "modules/variables";
@use "custom/variables" as variables2;

variables.$color-white: #1c1c13;
variables.$color-black: #fefefe;
variables.$color-map-background: #0d151c;

variables.$color-online: color.adjust(variables.$color-online, $lightness: 25%);

.theme_night {
  //@import 'modules/base';
  body,
  textarea,
  input {
    background: variables.$color-white;
    color: color.adjust(variables.$color-black, $lightness: 100%);
  }

  header {
    background: color.adjust(variables.$color-black, $alpha: -0.98);
    border-bottom-color: color.adjust(variables.$color-white, $lightness: 10%);
  }

  a {
    color: variables.$color-online;
    text-decoration: none;

    &:focus {
      color: color.adjust(variables.$color-online, $lightness: -15%);
    }
  }

  //@import 'modules/leaflet';
  .leaflet-container {
    background: variables.$color-map-background;
  }

  .leaflet-label {
    &.leaflet-label-right {
      background-color: variables.$color-white;
    }
  }

  .leaflet-control-container {
    .leaflet-control-layers-toggle {
      background: color.adjust(variables.$color-white, $lightness: 10%);
      color: variables.$color-black;
    }
  }

  .leaflet-control-zoom {
    a {
      background: color.adjust(variables.$color-white, $lightness: 10%);
      color: variables.$color-black;

      &:hover {
        background: variables.$color-white;
      }
    }
  }

  .leaflet-popup-content-wrapper {
    background: color.adjust(variables.$color-white, $lightness: 10%);
    border-radius: 5px;
    text-align: center;
  }

  .leaflet-control-layers {
    &.leaflet-control {
      opacity: 0.9;
    }
  }

  .language-switch {
    color: variables.$color-black;

    option {
      background: variables.$color-white;
    }
  }

  //@import 'modules/filter';
  .filter-node {
    input {
      color: variables.$color-black;
    }
  }

  //@import 'modules/sidebar';
  .sidebar {
    .infobox,
    .container {
      background: color.adjust(variables.$color-white, $alpha: -0.03);
      border-right: 1px solid color.adjust(variables.$color-white, $lightness: -10%);
    }

    @media screen and (max-width: map.get(variables.$grid-breakpoints, xl) - 1) {
      background: variables.$color-white;
    }
  }

  //@import 'modules/tabs';
  .tabs {
    background: color.adjust(variables.$color-black, $alpha: -0.98);
    border-bottom-color: color.adjust(variables.$color-white, $lightness: 10%);

    li {
      color: color.adjust(variables.$color-black, $alpha: -0.5);

      &:hover {
        color: variables.$color-black;
      }
    }
  }

  //@import 'modules/node';
  .bar {
    background: color.mix(variables.$color-new, variables.$color-white, 60%);

    &.warning {
      background: color.mix(variables.$color-offline, variables.$color-white, 60%);
    }

    label {
      color: variables.$color-white;
    }
  }

  //@import 'modules/button';
  button {
    background: color.adjust(variables.$color-white, $lightness: 10%);
    color: variables.$color-black;

    &:hover {
      background: variables.$color-white;
    }

    &.close {
      background: transparent;
      color: color.adjust(variables.$color-black, $alpha: -0.5);
    }
  }
}
