@mixin load-font($name, $type, $weight, $style, $alias: "") {
  @if $alias == "" {
    $alias: $name;
  }

  @font-face {
    font-family: "#{$alias}";
    font-style: $style;
    font-weight: $weight;
    src:
      local("#{$name} #{$type}"),
      local("#{$name}-#{$type}"),
      url("@fonts/#{$name}-#{$type}.woff2") format("woff2"),
      url("@fonts/#{$name}-#{$type}.woff") format("woff"),
      url("@fonts/#{$name}-#{$type}.ttf") format("truetype");
  }
}
