@use "../../mixins/font";
@use "../variables";

@if variables.$use-included-font == 1 {
  @include font.load-font("Assistant", "Light", 300, normal);
  @include font.load-font("Assistant", "Bold", 700, normal);
}
