@use "sass:color";
@use "variables";

body {
  -webkit-tap-highlight-color: transparent;
  background: variables.$color-white;
  color: variables.$color-black;
  font-family: variables.$font-family;
  font-size: variables.$font-size;
  overflow: hidden;
  overflow-y: scroll;
}

header {
  background: color.adjust(variables.$color-black, $alpha: -0.98);
  border-bottom: 1px solid color.adjust(variables.$color-white, $lightness: -10%);
}

textarea,
input {
  background: transparent;
  color: variables.$color-black, 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1,
h2 {
  font-size: 1.5em;
  padding: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  padding: 1em 0;
}

h1,
h2,
h3 {
  padding-left: variables.$button-distance;
  padding-right: variables.$button-distance;
}

p,
pre,
ul,
h4 {
  padding: 0 variables.$button-distance 1em;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: variables.$color-online;
  text-decoration: none;

  &:focus {
    color: color.adjust(variables.$color-online, $lightness: -15%);
  }
}

p {
  line-height: 1.67em;
}

strong {
  font-weight: bold;
}

.hide {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.deprecation_base {
  padding-left: variables.$button-distance;
  padding-right: variables.$button-distance;

  div {
    border-radius: 5px;
    color: variables.$color-white;
    font-size: 110%;
    font-weight: bold;
    padding: 10px;
    text-align: center;

    a {
      color: variables.$color-white;
      text-decoration: underline;

      &:hover {
        // sass-lint:disable-line nesting-depth
        text-decoration: none;
      }
    }
  }
}

.deprecated {
  @extend .deprecation_base;
  div {
    background: variables.$color-warning;
  }
}

.eol {
  @extend .deprecation_base;
  div {
    background: variables.$color-error;
  }
}

.hw-img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 0.83em;
  width: 100%;
}

.hw-img {
  height: 150px;
  padding: 0 !important;
}
