@use "sass:color";
@use "variables";

button {
  background: variables.$color-white;
  border: 0;
  border-radius: 0.9em;
  color: variables.$color-black;
  cursor: pointer;
  font-family: variables.$font-family-icons;
  font-size: variables.$button-font-size;
  height: 1.8em;
  line-height: 1.95;
  opacity: 0.7;
  outline: none;
  padding: 0;
  transition:
    box-shadow 0.5s,
    background-color 0.5s,
    color 0.5s;
  width: 1.8em;

  &.text {
    background: variables.$color-primary;
    border: 1px solid variables.$color-primary;
    border-radius: 0;
    color: variables.$color-white;
    font: inherit;
    line-height: initial;
    padding: 0 20px;
    width: auto;

    &:hover {
      background: variables.$color-white;
    }
  }

  &.active,
  &:focus {
    box-shadow: 0 0 0 2px variables.$color-primary;
  }

  &:hover {
    color: variables.$color-primary;
  }

  // Tooltip
  &[data-tooltip] {
    &::after {
      background: variables.$color-black;
      border-radius: 3px;
      color: variables.$color-white;
      content: attr(data-tooltip);
      font-family: variables.$font-family;
      font-size: variables.$font-size;
      padding: 0 12px;
      position: absolute;
      transform: translate(45px, 52px);
      visibility: hidden;
      white-space: nowrap;
    }

    &:hover {
      &::after {
        transition: visibility 0s linear 0.3s;
        visibility: visible;
      }
    }
  }

  &.close {
    background-color: transparent;
    border-radius: 0;
    color: color.adjust(variables.$color-black, $alpha: -0.5);
    float: right;
    font-size: variables.$button-font-size;
    height: auto;
    line-height: 1.2;
    margin: variables.$button-distance;
    width: auto;
  }
}

// Tooltip
.content,
.sidebar > {
  button {
    &[aria-label] {
      &::after {
        background: variables.$color-black;
        border-radius: 3px;
        color: variables.$color-white;
        content: attr(aria-label);
        font-family: variables.$font-family;
        font-size: variables.$font-size;
        padding: 0 12px;
        position: absolute;
        transform: translate(45px, 52px);
        visibility: hidden;
        white-space: nowrap;
      }

      &:hover {
        &::after {
          transition: visibility 0s linear 0.3s;
          visibility: visible;
        }
      }
    }
  }
}
