@use "sass:color";
@use "variables";

.filters {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.83em;
  padding: 0 8px 8px;

  li {
    align-items: center;
    background: transparent;
    border: 1px solid variables.$color-primary;
    color: variables.$color-primary;
    display: flex;
    margin: 4px;
    padding: 0 0 0 10px;

    label {
      cursor: pointer;
    }

    button {
      background: none;
      color: variables.$color-gray-light;
      font-size: variables.$font-size-small;
      height: 24px;
      margin: 3px;
      width: 24px;

      &:hover {
        color: variables.$color-primary;
      }
    }

    &.not {
      label {
        color: variables.$color-primary;
        text-decoration: line-through;
      }
    }
  }

  .filter-node {
    border: 0;
    padding: 0 5px;
    width: 100%;

    &::before {
      font-size: 1.8em;
    }

    input {
      background: transparent;
      border: 0;
      border-bottom: 1px solid variables.$color-primary;
      font-family: variables.$font-family;
      font-size: variables.$font-size;
      margin: 0 15px 0 3px;
      outline: none;
      padding: 0 2px;
      width: 100%;

      &:focus {
        background: color.adjust(variables.$color-primary, $alpha: -0.95);
      }
    }

    button {
      display: none;
    }
  }
}
