@use "variables";

.graph {
  background: variables.$color-gray-dark;
  font: variables.$font-size-small variables.$font-family;
  height: 100%;
  width: 100%;

  canvas {
    display: block;
    position: absolute;
  }
}
