@use "sass:color";
@use "variables";

.bar {
  background: color.mix(variables.$color-new, variables.$color-white, 60%);
  display: block;
  height: 1.4em;
  position: relative;

  &.warning {
    background: color.mix(variables.$color-offline, variables.$color-white, 60%);

    span {
      background: variables.$color-offline;
    }
  }

  span {
    background: variables.$color-new;
    display: inline-block;
    height: 1.4em;
    max-width: 100%;
  }

  label {
    color: variables.$color-white;
    font-weight: bold;
    position: absolute;
    right: 0.5em;
    top: 0.1em;
    white-space: nowrap;
  }
}
