@use "sass:color";
@use "sass:map";
@use "variables";

.sidebar {
  box-sizing: border-box;
  left: 0;
  position: absolute;
  transition: left 0.5s;
  width: variables.$sidebar-width;
  z-index: 1005;

  &.hidden {
    left: -(variables.$sidebar-width) - variables.$button-distance;

    .sidebarhandle {
      left: variables.$button-distance;
      transform: scale(-1, 1);

      &[aria-label] {
        &::after {
          transform: scale(-1, 1) translate(105px, 52px) !important;
        }
      }
    }

    @media screen and (max-width: map.get(variables.$grid-breakpoints, lg) - 1) {
      width: auto;
    }
  }

  .tab {
    padding-bottom: 15px;
  }

  img {
    padding: 0 variables.$button-distance 1em;
    box-sizing: border-box;
  }

  .node-list,
  .node-links,
  .link-list {
    th,
    td {
      &:first-child {
        width: 25px;
      }

      &:nth-child(2) {
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 50%;
      }
    }
  }

  .link-list {
    th,
    td {
      &:nth-child(2) {
        width: 60%;
      }
    }
  }

  .node-links {
    padding-bottom: 15px;

    th,
    td {
      &:first-child {
        width: 35px;
      }
    }
  }

  .container {
    background: color.adjust(variables.$color-white, $alpha: -0.03);
    border-right: 1px solid color.adjust(variables.$color-white, $lightness: -10%);
    min-height: 100vh;
    overflow-y: visible;

    &.hidden {
      display: none;
    }
  }

  @media screen and (max-width: map.get(variables.$grid-breakpoints, xl) - 1) {
    background: variables.$color-white;
    font-size: 0.8em;
    margin: 0;
    width: variables.$sidebar-width-small;

    .sidebarhandle {
      left: variables.$sidebar-width-small + variables.$button-distance;
    }

    .container,
    .infobox {
      border-radius: 0;
      margin: 0;
    }
  }

  @media screen and (max-width: map.get(variables.$grid-breakpoints, lg) - 1) {
    height: auto;
    min-height: 0;
    position: static;
    width: auto;

    .sidebarhandle {
      display: none;
    }

    .content {
      height: 60vh;
      position: relative;
      width: auto;
    }
  }
}

.sidebarhandle {
  left: variables.$sidebar-width + 2 * variables.$button-distance;
  position: fixed;
  top: variables.$button-distance;
  transition:
    left 0.5s,
    color 0.5s,
    transform 0.5s;
  z-index: 1010;

  &::before {
    content: "\f124";
    padding-right: 0.125em;
  }

  &[aria-label] {
    &::after {
      transform: translate(-45px, 52px) !important;
    }
  }
}

.online {
  color: variables.$color-new;
}

.offline {
  color: variables.$color-offline;
}
