@use "sass:color";
@use "variables";

.tabs {
  background: color.adjust(variables.$color-black, $alpha: -0.98);
  border: 0 solid color.adjust(variables.$color-white, $lightness: -10%);
  border-bottom-width: 1px;
  display: flex;
  display: -webkit-flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    -webkit-flex: 1 1 auto;
    color: color.adjust(variables.$color-black, $alpha: -0.5);
    cursor: pointer;
    flex: 1 1 auto;
    padding: 1.3em 0.5em 1em;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      color: variables.$color-black;
    }
  }

  .visible {
    border-bottom: 2px solid variables.$color-primary;
    color: variables.$color-primary;
  }
}
