@use "../../scss/mixins/icon" as icon;

[class^="ion-"]::before,
[class*=" ion-"]::before {
  background-color: currentColor;
  content: "";
  display: inline-block;
  height: 1em;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  vertical-align: -2px;
  width: 1em;
}

@include icon.icon("pin");
@include icon.icon("wifi");
@include icon.icon("eye");
@include icon.icon("locate");
@include icon.icon("close");
@include icon.icon("location");
@include icon.icon("filter");
@include icon.icon("connection-bars");
@include icon.icon("share-alt");
@include icon.icon("clipboard");
@include icon.icon("people");
@include icon.icon("time");
@include icon.icon("arrow-resize");
@include icon.icon("arrow-right-c");
@include icon.icon("full-enter");
@include icon.icon("full-exit");
@include icon.icon("ruler");
