@use "sass:string";
@use "../../scss/mixins/icon" as icon;
@use "../../scss/modules/variables" as variables;

// Needed for standalone scss
// @import 'icon-mixin';

$cache-breaker: string.unique-id();

@font-face {
  font-family: "ionicons";
  font-style: normal;
  font-weight: normal;
  src:
    url("@fonts/meshviewer.woff2?rel=#{$cache-breaker}") format("woff2"),
    url("@fonts/meshviewer.woff?rel=#{$cache-breaker}") format("woff"),
    url("@fonts/meshviewer.ttf?rel=#{$cache-breaker}") format("truetype");
}

[class^="ion-"],
[class*=" ion-"] {
  &::before {
    display: inline-block;
    font-family: variables.$font-family-icons;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-rendering: auto;
    text-transform: none;
    vertical-align: 0;
  }
}

@include icon.icon("chevron-left", "\f124");
@include icon.icon("chevron-right", "\f125");
@include icon.icon("pin", "\f3a3");
@include icon.icon("wifi", "\f25c");
@include icon.icon("eye", "\f133");
@include icon.icon("up-b", "\f10d");
@include icon.icon("down-b", "\f104");
@include icon.icon("locate", "\f2e9");
@include icon.icon("close", "\f2d7");
@include icon.icon("location", "\f456");
@include icon.icon("layer", "\f229");
@include icon.icon("filter", "\f38B");
@include icon.icon("connection-bars", "\f274");
@include icon.icon("share-alt", "\f3ac");
@include icon.icon("clipboard", "\f376");
@include icon.icon("people", "\f39e");
@include icon.icon("person", "\f3a0");
@include icon.icon("time", "\f3b3");
@include icon.icon("arrow-resize", "\f264");
@include icon.icon("arrow-left-c", "\f108");
@include icon.icon("arrow-right-c", "\f10b");
@include icon.icon("full-enter", "\e901");
@include icon.icon("full-exit", "\e900");
